<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery"></script>
    <link rel="stylesheet" href="/styles">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h3 style="width: 60%; float: left;">
            <%=title %>
        </h3>
        <input type="hidden" name="" id="userId" value="<%=user.id %>">
        <h1 style="width: 60%; float: left;">
            <%=user.name %>
        </h1>
        <img src='/images/<%=user.image %>' alt="" class="avatar">
        <a href="/api/users/edit/<%=user.id %>" class="btn btn-danger btn-xs">Editar usuario</a>
        <button class="btn btn-primary btn-xs" id="logout">Cerrar sesión</button>

        <div class="clearfix"></div>
        <div id="postear">
            <form action="#" method="post">
                <div id="post">

                    <div class="form-group">
                        <label for="title">Ingrese Titulo</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>


                    <div class="form-group">
                        <label for="body">Escribe aqui</label>
                        <textarea class="form-control" name="body" id="body"></textarea>
                    </div>

                    <input type="hidden" name="userId" id="userId" value="<%=user.id %>">
                    <input type="button" class="btn btn-success btn-xs" value="Postear" id="btnPost">




                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="noticias">
                    <% for(var i=0; i < posts.length; i++){ %>
                        <div class="noticia">
                            <div class="contenido">
                                <h1 id="titulo">
                                    <%=posts[i].title %>
                                </h1>
                                <h2 id="subtitulo">
                                    <%=posts[i].body %>
                                </h2>
                                <p>
                                    <a href='/api/users/<%=posts[i].userId%>'>
                                        <%=posts[i].user.name %>
                                    </a>
                                </p>
                                <img src="/images/<%=posts[i].user.image %>" alt="" class="avatar">
                                <img src="" alt="" srcset="" class="imgPrincipal">
                                <div id="likes">
                                    <i class="fas fa-heart black"></i>
                                    <i class="fas fa-share black"></i>
                                </div>
                                <div id="comments">
                                    <% for(var h=0; h < posts[i].comentarios.length; h++) { %>
                                        <p><%=posts[i].comentarios[h].autorId %> - <%=posts[i].comentarios[h].description %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <aside id="sidebar">
                    <h3>Sugerencias de amistad</h3>
                    <% for(var i = 0; i < users.length; i++){ %>
                        <% if(users[i].name !== ''){ %>
                        <p><a href="/api/users/<%=users[i].id %>"><%=users[i].name %></a></p>
                        <span style="font-size: 12px; color: #eee;"><%=users[i].city.name %></span>
                        <img src="/images/<%=users[i].image %>" alt="" class="avatar">
                        <a href="/api/friends/<%=users[i].id%>" class="btn btn-success btn-xs">Agregar</a>
                        <% } %>
                    <% }  %>
                </aside>
            </div>
        </div>



    </div>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>