<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery"></script>
    <link rel="stylesheet" href="/styles">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        <h3 style="width: 60%; float: left;">
            <%=title %>
        </h3>
        <input type="hidden" name="" id="userId" value="<%=user.id %>">
        <h1 style="width: 60%; float: left;">
            <%=user.name %>
        </h1>
        <img src='/images/<%=user.image %>' alt="" class="avatar">
        <a href="/api/users/edit/<%=user.id %>" class="btn btn-danger btn-xs">Editar usuario</a>
        <a href="/api/users/<%=user.id %>" class="btn btn-warning btn-xs">Ver mi perfil</a>
        <a href="/logout" class="btn btn-primary btn-xs" id="logout">Cerrar sesión</a>

        <div class="clearfix"></div>
        <div id="postear">
            <form action="#" method="post">
                <div id="post">

                    <div class="form-group">
                        <label for="title">Ingrese Titulo</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>


                    <div class="form-group">
                        <label for="body">Escribe aqui</label>
                        <textarea class="form-control" name="body" id="body"></textarea>
                    </div>

                    <input type="hidden" name="userId" id="userId" value="<%=user.id %>">
                    <input type="button" class="btn btn-success btn-xs" value="Postear" id="btnPost">

                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="noticias">
                    <% for(var i=0; i < posts.length; i++){ %>
                        <div class="noticia">
                            <div class="contenido">
                                <img src="/images/<%=posts[i].autor.image %>" alt="" class="avatar_post">
                                <div class="clearfix"></div>
                                <h1 id="titulo">
                                    <%=posts[i].title %>
                                    <input type="hidden" name="" id="userId_session" value="<%=userId_session %>" >
                                    <% if(userId_session == posts[i].autor.id){ %>
                                    <button class="btn btn-danger btnDeletePost" value="<%=posts[i].id %>"><i class="fas fa-times-circle"></i></button>
                                    <% } %>
                                </h1>
                                <h2 id="subtitulo">
                                    <%=posts[i].body %>
                                </h2>
                                <p>
                                    <a href='/api/users/<%=posts[i].autorId%>'>
                                        <%=posts[i].autor.name %>
                                    </a>
                                </p>
                                
                                <img src="" alt="" srcset="" class="imgPrincipal">
                                <div id="likes">
                                    <i class="fas fa-heart black"></i>
                                    <i class="fas fa-share black"></i>
                                </div>
                                <div class="addComent">
                                <div id="comments">
                                    <% for(var h=0; h < posts[i].posteos.length; h++) { %>
                                        <p><%=posts[i].posteos[h].autorId %> - <%=posts[i].posteos[h].description %></p>
                                    <% } %>
                                </div>
                                
                                    <p>Comenta:</p>
                                    <input type="text" name="" id="comment" class="form-control">
                                    <button class="btn btn-success btnAddComment" value="<%=posts[i].id %>"><i class="fas fa-check"></i></i></button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <aside id="sidebar">
                    <h3>Sugerencias de amistad</h3>
                    <% for(var i = 0; i < users.length; i++){ %>
                        <% if(users[i].name !== ''){ %>
                        <p><a href="/api/users/<%=users[i].id %>"><%=users[i].name %></a></p>
                        <span style="font-size: 12px; color: #eee;"><%=users[i].city.name %></span>
                        <img src="/images/<%=users[i].image %>" alt="" class="avatar">
                        <a href="/api/friends/<%=users[i].id%>" class="btn btn-success btn-xs btnAddFriend" >Agregar</a>
                        <% } %>
                    <% }  %>
                </aside>
            </div>
        </div>

        <a href="#" class="scroll-top" title="Ir arriba">
            <i class="fa fa-angle-up"></i>
        </a>

    </div>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>