<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery"></script>
    <link rel="stylesheet" href="/styles">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <title>Perfil</title>
</head>

<body>
    <div class="container">
        <h1>Perfil de <%=user.name %>
            <p><%=user.email %></p>
            <p><%=user.city.name %></p>
        </h1>

        <div class="row">

            <% for(var i=0; i < posts.length; i++) { %>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/<%=posts[i].autor.image %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=posts[i].title %>
                            </h5>
                            <p class="card-text">
                                <%=posts[i].body %>.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>


        <h1>Listado de amigos</h1>

    </div>


    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>